* {
  margin: 0;
  position: absolute;
}

body {
  background: #333;
  height: 100vh;
  width: 100vw;
}

#padlock {
  width: 40vmin;
  height: 40vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#padlockBody {
  width: 28vmin;
  height: 24vmin;
  background: #EDA521;
  top: 16vmin;
  left: 6vmin;
  border-radius: 2vmin;
}

#shank {
  border: 4vmin solid #EDA521;
  width: 16vmin;
  height: 12vmin;
  top: 0;
  left: 20%;
  border-radius: 15vmin 15vmin 0 0;
}

#keyHole {
  width: 4vmin;
  height: 8vmin;
  background: #333;
  left: 12vmin;
  top: 12vmin;
  border-radius: 0 0 2vmin 2vmin;
}

#keyHole2 {
  width: 7vmin;
  height: 7vmin;
  background: #333;
  left: 10.5vmin;
  top: 7.5vmin;
  border-radius: 50%;
}
